@import "tailwindcss";
@keyframes float {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
}
body {
  font-family: "IBM Plex Sans", sans-serif;
}
.animate-float {
  animation: float 3s ease-in-out infinite;
}
